{% for item in include.content %}
  <article class="row clearfix layout layout-{{item.layout | default: 'left'}} border-{{item.border | default: 'no'}}">
    <div class="card-header">
      <div class="card-meta">
        <h3 id="{{ item.title | slugify }}" class="card-title">{{ item.title }}</h3>
        {%- if item.sub_title -%}<p class="card-subtitle">{{ item.sub_title }}</p>{%- endif -%}
        {%- if item.link -%}
          <p class="card-link">
            {% include a.html href=item.link class="link" %}
              {%- if item.link_text -%}{{ item.link_text }}{%- else -%}{{ item.link }}{%- endif -%}
            </a>
          </p>
        {%- endif -%}
      </div>
      {%- if item.caption -%}<span class="card-caption">{{ item.caption }}</span>{%- endif -%}
    </div>
    <div class="card-content">
      {%- if item.quote -%}
        <p class="quote">{{ item.quote }}</p>
      {%- endif -%}
      {{ item.description | strip | markdownify }}
    </div>
    <p class="no-print aditional-links">
      {% for link in item.additional_links %}
        {% include a.html href=link.url class="" %}
          <i class="{{ link.icon }}" title="{{ link.title | escape }}"></i>
        </a>
      {% endfor %}
    </p>
  </article>
{% endfor %}
