name: Portfolio build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build site
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler: 2.4.22
          bundler-cache: true
      - name: Build site
        env:
          JEKYLL_ENV: production
        run: bundle exec jekyll build --config _config.yml --destination ./_site
